<div *ngIf="stack"
     class="container fx-flex-95">
    <app-deck-filters-form
      [deckFilters]="deckParams"
      (deckFilterChanged)="update(this.stack, $event)">
    </app-deck-filters-form>

  <div class="card-display fx-row fx-align-space-around-center">
    <button mat-icon-button
            aria-label="previous"
            matTooltip="Previous card"
            (click)="leftClickHandler()">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>

    <div class="card fx-col"
         (click)="cardClicked()"
         [@.disabled]="disableAnimation"
         [@cardFlip]="state">

      <div class="face back fx-align-center-center">
        <ng-container [ngSwitch]="deckParams.displayDetails">
          <img *ngSwitchCase="CardDisplayDetails.image"
               [src]="boundStack[focus].imageUrl"/>

          <app-card-value *ngSwitchCase="CardDisplayDetails.text" [card]="boundStack[focus]"></app-card-value>

          <div *ngSwitchCase="CardDisplayDetails.sound" class="sound">
            <button mat-icon-button *ngIf="state === 'default'"
                    aria-label="Play sound"
                    matTooltip="Play sound"
                    (click)="$event.stopPropagation(); playSound()">
              <mat-icon class="play-icon">volume_up</mat-icon>
            </button>
          </div>
        </ng-container>
      </div>

      <div class="face front fx-col fx-align-center-center">
        <p class="mat-headline">Position: <b>{{boundStack[focus].position}}</b></p>
        <p *ngIf="boundStack[focus].isNatural" class="mat-title">Natural:
          <em>{{boundStack[focus].naturals.toString()}}</em>
        </p>
        <p class="mat-subheading-1">From Bottom: <em>{{boundStack[focus].bottomPosition}}</em></p>
      </div>
    </div>


    <button mat-icon-button
            aria-label="next"
            matTooltip="Next card"
            (click)="rightClickHandler()">
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>

</div>
