.container
  height: 100%
  padding: 16px 0

mat-card
  margin-top: 12px

mat-card-title
  text-align: center
  font-family: 'Playfair Display', serif !important
  font-size: 1.4rem !important

.locate
  margin: 16px 0 !important
