mat-card
  margin-bottom: 16px

.container
  height: 100%

.card-display
  margin-bottom: 24px

.card
  border-radius: 14px
  min-height: 500px
  width: 320px
  cursor: pointer
  position: relative
  transform-style: preserve-3d

.face
  padding: 20px
  display: block
  position: absolute
  width: 100%
  height: 100%
  border-radius: inherit
  backface-visibility: hidden

  > img
    width: 100%
    height: 100%
    object-fit: scale-down
    border-radius: inherit

.front
  transform: rotateY(180deg)

.alert
  position: relative
  padding: .75rem 1.25rem
  margin-bottom: 1rem
  border: 1px solid transparent
  border-radius: 8px

mat-expansion-panel-header
  padding: 0
  height: auto

.mat-expansion-panel-header-title
  color: inherit

.fab-container
  position: fixed
  bottom: 24px
  right: 24px
  z-index: 100
  display: flex
  flex-direction: column-reverse
  align-items: center
